@model ArticleAddDto?
@{
    
    Layout = "_Layout";
    ViewBag.Title = "Makale oluştur";
}
<div class="row ml-3">
    <ol class="breadcrumb mb-3 mt-2">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin</a></li>
        <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Article" asp-action="Index">Makaleler</a></li>
        <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Article" asp-action="AddArticel">Makale oluştur</a></li>
    </ol>
</div>
<form asp-controller="Article" asp-action="Add" method="post" enctype="multipart/form-data">
    <div class="row mt-2">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <input type="text" id="articleTitle" placeholder="Makale Başlığı" class="form-control" asp-for="@Model.Title" />
                        <span asp-validation-for="@Model.Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <textarea id="text-editor" asp-for="@Model.Content">

                        </textarea>
                        <span asp-validation-for="@Model.Content" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Temel Konfigurasyonlar
                    <div class="card-body">
                        <div class="form-body">
                            <label>Kategoriler</label>
                            <select id="categoryList" class="form-control" asp-for="@Model.CategoryId">
                                @foreach(var item in ViewBag.Categories)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                            <span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Date"></label>
                            <input type="text" id="datepicker" value="@DateTime.Now.ToShortDateString()" class="form-control" asp-for="@Model.Date" />
                            <span asp-validation-for="@Model.Date" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.ThumbnailFile"></label>
                            <input  accept="image/*" class="form-control-file" asp-for="@Model.ThumbnailFile" />
                            <span asp-validation-for="@Model.ThumbnailFile" class="text-danger"></span>
                        </div>
                         <div class="form-check">
                            <input type="checkbox" asp-for="@Model.IsActive" class="form-check-input border border-dark"/>
                            <label asp-for="@Model.IsActive" class="form-check-label">Aktif mi?</label>
                            <span asp-validation-for="@Model.IsActive" class="text-danger"></span>
                        </div> 
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary mt-4 btn-block "><i class="fas fa-save"></i> Kaydet</button>
                            <a class=" btn btn-danger btn-block mt-1" asp-area="Admin" asp-controller="Article" asp-action="Index">
                                <i class="fas fa-times"></i> İptal Et
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-2">
            <div class="card">
                <div class="card-header">
                    SEO Optimizasyonu
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="@Model.SeoAuthor"></label>
                            <input asp-for="@Model.SeoAuthor" id="seoWriter" class="form-control" />
                            <span asp-validation-for="@Model.SeoAuthor" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="@Model.SeoTags"></label>
                            <input  id="seoTags" class="form-control" asp-for="@Model.SeoTags" />
                            <span asp-validation-for="@Model.SeoTags" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label asp-for="@Model.SeoDescription"></label>
                            <textarea id="seoDescription" class="form-control" asp-for="@Model.SeoDescription"></textarea>
                            <span asp-validation-for="@Model.SeoDescription" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
    </div>

</form>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/trumbowyg.min.js" integrity="sha512-YJgZG+6o3xSc0k5wv774GS+W1gx0vuSI/kr0E0UylL/Qg/noNspPtYwHPN9q6n59CTR/uhgXfjDXLTRI+uIryg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/langs/tr.min.js" integrity="sha512-4Lri9C2eYjnoar37EumYfA8RgOZoMBOXTzkpSgkdvbRH7ts8OP/vsXnoouBAXdrU2x5NxUkdQGe4fBxSjvFiGA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/plugins/colors/trumbowyg.colors.min.js" integrity="sha512-SHpxBJFbCaHlqGpH13FqtSA+QQkQfdgwtpmcWedAXFCDxAYMgrqj9wbVfwgp9+HgIT6TdozNh2UlyWaXRkiurw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/plugins/fontfamily/trumbowyg.fontfamily.min.js" integrity="sha512-oATdSCPRZu3qFFyxrZ66ma2QbQybLqpRqwLRp2IQEaIABnEHcs2qDf6UOVA/V5LhBvxFxKCNvyVb/yQfwDkFhQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/plugins/fontsize/trumbowyg.fontsize.js" integrity="sha512-xHFhu0HHBdpnUP6TpIuwa1FGVr1K99NKrVJTuRKOxNJJ2Y8h3H16mqml92F2r2PYyl5ToovnWyaVyL8TLhN/jQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="~/AdminLTE/js/articleEditPanel.js"></script>
}
@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/ui/trumbowyg.min.css" integrity="sha512-Fm8kRNVGCBZn0sPmwJbVXlqfJmPC13zRsMElZenX6v721g/H7OukJd8XzDEBRQ2FSATK8xNF9UYvzsCtUpfeJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/plugins/colors/ui/trumbowyg.colors.min.css" integrity="sha512-vw0LMar38zTSJghtmUo0uw000TBbzhsxLZkOgXZG+U4GYEQn+c+FmVf7glhSZUQydrim3pI+/m7sTxAsKhObFA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/select2@@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/dark-hive/jquery-ui.min.css" integrity="sha512-gCFexX+67Pl9rPa75MMyEH2I5jbD5tqij8VBYcsLVwgVfVEdfon+9CEjVnXPtqoHLXjxrjMcyHLaee65dt/jxw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/dark-hive/theme.min.css" integrity="sha512-pN35/N51n1IeABlNGOSb5ltVKGbvUE8exTMhiB/4ijuy+UOYEWawQZzEs2yUvvCWopRO3uiRueeGnd/mQD0eTQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

}